.project-container {
    background: #4DADA0;
    

    .intro-title {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
          font-size: 10em;
          font-family: 'Vibur', cursive;
          color: #FFDEAD;
          margin-top: -0.8em;
          margin-bottom: 5px;
        }

        p {
            font-size: 25px;
            font-family: 'Sen', sans-serif;
            padding: 5px;
        }
    }
}