.project {
    margin: 25px;
    padding: 20px;
    max-height: 47em;
    border-radius: 15px;
    background-color: white;

    h3 {
      font-family: 'Sen', sans-serif;
      color: #4DADA0;
      font-size: 4em;
    }

    img {
        border-radius: 5px;
        width: 46em;
        display: block;
        margin: auto;
        box-shadow: 6px 8px #b4afaf;
    }

    .project-info {
        padding: 40px;

       
    }
}
