nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #ffffff42;
    margin-bottom: 5em;
    h1 {
      color: white;
      font-size: 2em;
    }
    section {
       padding: 5px;
    }
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-right: 3em;
    &:hover {
        border-bottom: 2px solid white;
    }
}

.active-nav {
    border-bottom: 2px solid white;
}

