nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background: #4CADA0;

    .nav {
        margin-left: 5em;
        text-decoration: none;
        color: navajowhite;
        font-size: 18px;
        border: 1px solid transparent;
        padding: 5px;
        transition: 1s ease-in-out;
      
        &:hover {
            border-bottom: 1px solid navajowhite;
        }
      }

    .active {
        border-bottom: 1px solid navajowhite;
      }
}

@media screen and (max-width: 375px) {
  
  nav {
    justify-content: center;
    align-items: center;
    padding: 20px 10px;

    .nav {
      margin-left: 10px;
      font-size: 15px;
    }
  }

}

