.svg-page {
    background-color: #4CADA0;
    padding: 0px 40px;
}

svg {
  position: relative;
  top: -15em;
  left: 2em;
  display: block;
  margin: auto;
}

#hair, #head {
    animation: head 3s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}

#shoulders {
  animation: shoulders 2s infinite;
}

#clouds {
    animation: clouds 80s linear infinite;
}

h1 {
    font-family: 'Bellota Text', cursive;
    text-align: center;
    padding: 10px;
    font-size: 5em;
    color: navajowhite;
}

h3 {
  text-align: center;
  padding: 10px;
  font-family: 'Vibur', cursive;
  color: white;
  font-size: 3em;
}

@keyframes head {
  from {
    transform: translateY(0%);
  } to {
    transform: translateY(2%);
  }
}

@keyframes shoulders {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(0.17deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    75% {
        transform: rotateZ(0.17deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes clouds {
    0% {
        transform: translateX(1vw) scale(0.2);
      }
      
    100% {
        transform: translateX(-1vw) scale(1);
      }
}

// Ipad Media Querie

@media screen and (max-width: 768px) {
  svg {
    top: -8em;
  }
}

// Phone Media Querie

@media screen and (max-width: 414px) {

  .svg-page {
    padding: 0px 20px;
  }
  
   h1 {
     font-size: 3em;
   }

   h3 {
     font-size: 2em;
   }

   svg {
     left: 1em;
     top: -4em;
   }
}